# Project

**Applied Statistics**

Martin Cusack

Student I.D: G00239124

***

## Introduction 

This Jupyter notebook contains all the work undertaken in completing the project for the Applied Statistics module.

The aim of this poject is to carry out some statistical investigations on the PlantGrowth R data set, which contains results from an experiment on plant growth comparing yields obtained under a control and two different treatment conditions.*

[1] [PlantGrowthR](https://vincentarelbundock.github.io/Rdatasets/doc/datasets/PlantGrowth.html)

Firstly, I will import the PlantGrowth R data set (which is stored in a CSV file) and display it in a pandas dataframe so that investigations can be carried out.

In [2]:
# import all packages

import pandas as pd
import numpy as np  

df = pd.read_csv("Data\PlantGrowth.csv")

In [5]:
df.describe()

        rownames     weight
count  30.000000  30.000000
mean   15.500000   5.073000
std     8.803408   0.701192
min     1.000000   3.590000
25%     8.250000   4.550000
50%    15.500000   5.155000
75%    22.750000   5.530000
max    30.000000   6.310000

### References

[1]  

[2]  

[3] 

[4] 

[5] 

[6] 

[7]  

[8] 

[9] 

[10]

***
## End
***